/.vs/ProjectSettings.json
/.vs/cmake_examples/v15/.suo
/.vs/cmake_examples/v15/Preview/Browse.VC.db
/.vs/cmake_examples/v15/Preview/Browse.VC.opendb
/.vs/cmake_examples/v15/Preview/ipch/AutoPCH/f4fbb8d56b657edf/CMAKEPROJECT1.ipch
/.vs/slnx.sqlite
